<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://res.cloudinary.com/dybwn1q6h/image/upload/v1715572132/favicon_tmeqwo.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'logout.css' %}">
</head>
<body>
    <center class="logout">
        <h2>{{ message }}</h2>
        <a href="{% url 'login' %}">Login again</a>
    </center>
</body>
</html>
